<form action="" id="create-new-password">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark"><img height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Enter New Password</h2>
                <form action="./" method="get" autocomplete="off" novalidate>
                    <div class="mb-3">
                        <label class="form-label">Enter Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" autocomplete="off"
                            name="newPassword" id="otp">
                    </div>
                    <input type="hidden" id="hiddenval" name="email" value="{{email}}">
                    <div class="form-footer">
                        <button type="submit" class="submit-btn btn btn-primary w-100">Set New password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>

<script src="javascripts/pagewise/login.js"></script>