<div class="dsort">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Total Post</th>
                <th scope="col">Total Saved Post</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody value="" class="all-report">
            {{#each reportData}}
            <tr class="" id="">
                <td>{{this.totalpost}}</td>
                <td>{{this.totalsavedpost}}</td>
                <td>{{formatdate createdOn}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>